---
layout: default
title: About
permalink: about
description: View the people behind RotaSambandh ie. Team and details about the format. RotaSambandh connects Rotaractors with the Achievers and Established professionals ie.Mentors-Rotarians from various classifications on the Choice and Passion of Rotaractor. RotaSambandh consists of two formats CONNECT WITH MENTOR and SHADOW THE MENTOR. RotaSambandh is a project created by Rtr. Rtn. Arun Teja Godavarthi aka. ZeoSpec of Rotaract Bangalore East.
---

{% include breadcumbs.html %}

<!-- ##### Catagory Video Start ##### -->
<div class="instructors-video d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/navigator.png);">
    <h2>{{page.title}}</h2>
    <!-- video btn -->
    <a href="https://www.youtube.com/watch?v=vx9YQqc1eg8" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
</div>
<!-- ##### Catagory Video End ##### -->

<div class="blog-details-content section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="blog-details-text">
                    <p>RotaSambandh connects you with the Achievers and Established professionals ie.Mentors(Rotarians)
                        from various classifications of your Choice and Passion.</p>
                    <h5 class="text-center py-4">A Mentor is someone who allows you to see the hope inside
                        yourself.<br>— oprah winfrey.</h5>
                    <p class="text-center py-4">&#9830; &#9830; &#9830;</p>
                    <h6 class="text-center">Stages of Application</h6>
                    <p class="text-center">Navigate across Classifications<br>&#8595;<br>Apply<br>&#8595;<br>Review
                        Process<br>&#8595;<br>Matching(RotaSambandh Team)<br>&#8595;<br>Rotaractor and Rotarian(Mentor)
                        Connect</p>
                    <p class="text-center py-4">&#9830; &#9830; &#9830;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="related-posts section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Formats</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Single Format Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-100">
                        <img src="img/aboutbg.png" alt="">
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>Connect with the Mentor</h4>
                            </a>
                            <p>Great to interact with the Mentor from the Classification you are passionate, to advance
                                your thoughts towards success.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Format Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-area mb-100">
                        <img src="img/aboutbg.png" alt="">
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>Shadow the Mentor</h4>
                            </a>
                            <p>Spend a day in the life of the Mentor in the Classification of you choice. Gain insights
                                on the realworld industry experience.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<section class="section-padding-100" style="background-image: url(img/core-img/texture.png);">
   
     <div class="container">
        {% for group in site.data.sitedata.team %}
        <div class="row {% if forloop.first %}{% else %}mt-5{% endif %}">
            <div class="col-12">
                <div class="section-heading">
                    <h3>{{group.title}}</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for member in group.members %}
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                            <span class="socials d-inline-block">
                                {% for social in member.social %}
                                {% if social[1] %}
                                <a href="{{ social[1] }}" target="_blank" class="fa fa-{{ social[0] }}" aria-hidden="true"></a>
                                {% endif %}
                                {% endfor %}
                            </span>
                        <span class="img-holder d-inline-block">
                                <img src="{{site.baseurl}}{{member.img}}" alt="{{member.name}}">
                            </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">{{member.name}}</h5>
                        <p class="text-uppercase mb-0">{{member.role}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
</div>
</section>