---
layout: default
---

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/navigator.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>Let's Start Navigating</h2>
                        <a href="{{site.baseurl}}/classifications" class="btn clever-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    {% if site.data.sitedata.showfacts %}
    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <div class="icon">
                            <img src="img/core-img/docs.png" alt="">
                        </div>
                        <h2><span class="counter">{{site.data.sitedata.stats.applications}}</span></h2>
                        <h5>Applications</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <img src="img/core-img/star.png" alt="">
                        </div>
                        {% assign mentor_count = 0 %}
                        {% for classification in site.classifications %}
                        {% assign mentor_count = mentor_count | plus: classification.mentors.size %}
                        {% endfor %}
                        <h2><span class="counter">{{mentor_count}}</span></h2>
                        <h5>Mentors</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <div class="icon">
                            <img src="img/core-img/events.png" alt="">
                        </div>
                        <h2><span class="counter">{{site.data.sitedata.stats.connects}}</span></h2>
                        <h5>Mentor Connects</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <div class="icon">
                            <img src="img/core-img/earth.png" alt="">
                        </div>
                        <h2><span class="counter">{{site.classifications | size}}</span></h2>
                        <h5>Classifications</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->
    {% endif %}

    <!-- ##### Popular Classifications Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Featured Classifications</h3>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
  
                {% assign sorted_classifications = site.classifications | sort: 'title' %}
                {% for classification in sorted_classifications %}

                {% if classification.featured == true %}
                    {% include classification.html %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms">
                        <a href="{{site.baseurl}}/classifications" class="btn clever-btn btn-2 mb-50">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Classifications End ##### -->

    <script type="text/javascript">
        var submission = false;
      </script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
      onload="if(submission)  {window.location='/thankyou';}"></iframe>
      
    <!-- ##### Register Now Start ##### -->
    <section class="register-now section-padding-100-0 d-flex justify-content-around align-items-center" style="background-image: url(img/core-img/texture.png);">
        <!-- Register Contact Form -->
        <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="forms">
                            <h4>Get Notified</h4>
                            <form action="https://docs.google.com/forms/d/e/1FAIpQLScnr0oqPtdWBO_1EYl-XytjwbinYM3FPc703ilgQdZsuNf2wQ/formResponse" target="hidden_iframe" onsubmit="submission=true;" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="entry.729988271" id="name" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="entry.1271416491" id="club" placeholder="Rotaract Club Name" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="entry.1140443297" id="phone" placeholder="Phone Number" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="entry.737916335" id="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <div class="form-group">
                                            <!-- <textarea name="message" class="form-control" id="message" placeholder="Fi"></textarea> -->
                                            <input type="text" class="form-control" name="entry.1589430484" id="field" placeholder="Field of Interest" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn clever-btn w-100" type="submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Now Countdown -->
        <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
            <h3>Subscribe for Updates</h3>
            <p>Hear from us, lets keep in touch. Get the latest updates and infomration delivered straight to your inbox.</p>
            <!-- Register Countdown -->
            <!-- <div class="register-countdown">
                <div class="events-cd d-flex flex-wrap" data-countdown="2021/01/01"></div>
            </div> -->
        </div>
    </section>
    <!-- ##### Register Now End ##### -->