
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="tel:{{site.data.sitedata.phone}}"><span>Phone:</span> {{site.data.sitedata.phone}}</a>
                <a href="mailto:{{site.data.sitedata.email}}"><span>Email:</span> {{site.data.sitedata.email}}</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                {% for social in site.data.sitedata.site_social %}
                {% if social[1] %}
                <a href="{{ social[1] }}" target="_blank"><i class="fa fa-{{ social[0] }}" aria-hidden="true"></i></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/core-img/rotasambandh22.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{{site.baseurl}}/">Home</a></li>
                                <li><a href="{{site.baseurl}}/about">About</a></li>
                                <li><a href="{{site.baseurl}}/classifications">Classifications</a></li>
                                <!-- <li><a href="#">Job Board</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Apply</a></li>
                                        <li><a href="#">Post a Job</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                            </ul>
                            
                            <!-- Recommendations -->
                            <div class="register-login-area">
                                <a href="{{site.baseurl}}/recommendmentor" class="btn">Recommend Mentor</a>
                                <a href="{{site.baseurl}}/requestclassification" class="btn active">Request Classification</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>