---
layout: default
---
{% include breadcumbs.html %}
    <!-- ##### Single Course Intro Start ##### -->
    <div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url({{site.baseurl}}{{page.image}});">
        <!-- Content -->
        <div class="single-course-intro-content text-center">
            <h3>{{page.title}}</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                {% for tag in page.tags %}
                <a>{{tag}}</a>
                {% if forloop.last %}
                {% else %}
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ##### Single Course Intro End ##### -->

    <!-- ##### Courses Content Start ##### -->
    <div class="single-course-content section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="course--content">

                        <div class="clever-tabs-content">
                            <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">Mentors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true">Apply Now</a>
                                </li>

                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Tab Text -->
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                    <div class="clever-description">

                                        <!-- About Classification -->
                                        <div class="about-course mb-30">
                                            <h4>About this Classification</h4>
                                            <p>{{page.description}}</p>
                                        </div>

                                        <div class="clever-curriculum">

                                            <!-- About Format -->
                                            <div class="about-curriculum mb-30">
                                                <h4>Formats</h4>
                                                <p>We have two formats namely "Connect with the Mentor" and "Shadow the Mentor", to connect the Rotarators with the Mentors(Rotarians) from various classifications of your Choice and Passion.</p>
                                            </div>
    
                                            <!-- Format Level -->
                                            <div class="curriculum-level mb-30">
                                                <h4 class="d-flex justify-content-between"><span>Format 1</span></h4>
                                                <h5>Connect with the Mentor</h5>
                                                <p>Great to interact with the Mentor from the Classification you are passionate, to advance your thoughts towards success.</p>
    
                                                <ul class="curriculum-list">
                                                    <li><i class="fa fa-file"></i> Apply, Review, Matching
                                                        <ul>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Applying: <span>Select your Classification.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-user-circle"></i> Review: <span>Our team will Verify the Rotaractor's identity.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Review: <span>Our team will review the application.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Mathcing: <span>Our team will coordinate and finalise the Mentorship Session</span></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="d-flex justify-content-between">
                                                        <span><i class="fa fa-handshake-o"></i><i class="fa fa-video-camera"></i>/<i class="fa fa-map-marker"></i> Connect: Gather Knowledge and insights in a 1:1 session (40 mins - 60 mins).</span>
                                                    </li>
                                                    <li class="d-flex justify-content-between">
                                                        <span><i class="fa fa-comments"></i> Feedback: Share your feedbak to help us improve RotaSambandh.</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <!-- Format Level -->
                                            <div class="curriculum-level mb-30">
                                                <h4 class="d-flex justify-content-between"><span>Format 2</span></h4>
                                                <h5>Shadow the Mentor</h5>
                                                <p>Spend a day in the life of the Mentor in the Classification of you choice. Gain insights on the realworld industry experience.</p>
    
                                                <ul class="curriculum-list">
                                                    <li><i class="fa fa-file"></i> Apply, Review, Matching
                                                        <ul>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Applying: <span>Select your Classification.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-user-circle"></i> Review: <span>Our team will Verify the Rotaractor's identity.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Review: <span>Our team will review the application.</span></span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-file-text"></i> Mathcing: <span>Our team will coordinate and finalise the Mentorship Session</span></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="d-flex justify-content-between">
                                                        <span><i class="fa fa-handshake-o"></i><i class="fa fa-map-marker"></i><i class="fa fa-suitcase"></i> Shadow: Travel a day in the life of the Mentor to gather realworld industry experience.</span>
                                                    </li>
                                                    <li class="d-flex justify-content-between">
                                                        <span><i class="fa fa-comments"></i> Feedback: Share your feedbak to help us improve RotaSambandh.</span>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        
                                        <!-- FAQ -->
                                        <div class="clever-faqs">
                                            <h4>FAQs</h4>

                                            <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">

                                                <!-- Single Accordian Area -->
                                                <div class="panel single-accordion">
                                                    <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">consectetur adipiscing elit. Etiam vulputate id justo quis facilisis?
                                                    <span class="accor-open"><i class="fa fa-plus"></i></span>
                                                    <span class="accor-close"><i class="fa fa-minus"></i></span>
                                                    </a></h6>
                                                    <div id="collapseOne" class="accordion-content collapse show">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
                                                    </div>
                                                </div>

                                                <!-- Single Accordian Area -->
                                                <div class="panel single-accordion">
                                                    <h6>
                                                        <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">consectetur adipiscing elit. Etiam vulputate id justo quis facilisis?
                                                        <span class="accor-open"><i class="fa fa-plus"></i></span>
                                                        <span class="accor-close"><i class="fa fa-minus"></i></span>
                                                        </a>
                                                    </h6>
                                                    <div id="collapseTwo" class="accordion-content collapse">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.</p>
                                                    </div>
                                                </div>

                                                <!-- Single Accordian Area -->
                                                <div class="panel single-accordion">
                                                    <h6>
                                                        <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">consectetur adipiscing elit. Etiam vulputate id justo quis facilisis?
                                                        <span class="accor-open"><i class="fa fa-plus"></i></span>
                                                        <span class="accor-close"><i class="fa fa-minus"></i></span>
                                                        </a>
                                                    </h6>
                                                    <div id="collapseThree" class="accordion-content collapse">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.</p>
                                                    </div>
                                                </div>

                                                <!-- Single Accordian Area -->
                                                <div class="panel single-accordion">
                                                    <h6>
                                                        <a role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">consectetur adipiscing elit. Etiam vulputate id justo quis facilisis?
                                                        <span class="accor-open"><i class="fa fa-plus"></i></span>
                                                        <span class="accor-close"><i class="fa fa-minus"></i></span>
                                                        </a>
                                                    </h6>
                                                    <div id="collapseFour" class="accordion-content collapse">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate id justo quis facilisis.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                    <div class="clever-members">

                                        <!-- About mentors -->
                                        <div class="about-members mb-30">
                                            <h4>Mentors</h4>
                                            <p>RotaSambandh team supported by our partners have hand picked the Mentors, who will guide the Rotaractors to see the hope inside them.</p>
                                        </div>
                                        
                                        <!-- All Members -->
                                        <div class="all-instructors mb-30">
                                            <div class="row">

                                                {% for mentor in page.mentors %}
                                                <!-- Single Members -->
                                                <div class="col-lg-6">
                                                    <div class="single-instructor d-flex align-items-center mb-30">
                                                        <div class="instructor-thumb">
                                                            <img src="{{site.baseurl}}{{mentor.img}}" alt="{{mentor.name}}">
                                                        </div>
                                                        <div class="instructor-info"> 
                                                            <h5>{{mentor.name}}</h5>
                                                            <span>{{mentor.company}}</span>
                                                            <aside>
                                                                <details>
                                                                <summary>About (<i class="fa fa-info" aria-hidden="true"></i>)</summary>
                                                                <p>{{mentor.introduction}}</p>
                                                                <div class="social-info">
                                                                    Follow:
                                                                    {% for social in mentor.social %}
                                                                    {% if social[1] %}
                                                                    <a href="{{ social[1] }}" target="_blank"><i class="fa fa-{{ social[0] }}" aria-hidden="true"></i></a>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                </details>
                                                            </aside>

                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                    <div class="clever-review">

                                        <!-- About Review -->
                                        <div class="about-review mb-30">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="forms">
                                                        <h4>Apply for {{page.title}}</h4>
                                                        <p>Enter accurate and elobarate information, to help our team understand your interests to make best matches.</p>
                                                        <hr style="border-top: 1px dashed grey">
                                                        <form action="#" method="post">
                                                            <p>Personal Information</p>
                                                            <div class="row">
                                                                <div class="col-12 col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="text" placeholder="Name *" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="email" class="form-control" id="email" placeholder="Email *" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="phone" placeholder="Phone *" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="phone" placeholder="Rotaract Club Name *" required>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 col-lg-12">
                                                                    <hr style="border-top: 1px dashed grey">
                                                                    <p>Profile Links (To promote best practice Linkedin URL is made madatory)</p>
                                                                    <div class="form-group">
                                                                        <input type="url" class="form-control" id="phone" placeholder="Enter your Linkedin Profile Link *" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <input type="url" class="form-control" id="phone" placeholder="Share Portfolio or any other Profile links">
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" class="form-control" id="classification" value="{{page.title}}">
                                                                
                                                                <div class="col-12 col-lg-12">
                                                                    <hr style="border-top: 1px dashed grey">
                                                                    <p>Mentor Preference (if any)</p>
                                                                    <div class="form-group">
                                                                        <select type="list" class="custom-select" id="group">
                                                                            <option value="" disabled="" selected="" hidden="">Select your Preferred Mentor (if any)</option>
                                                                            {% for mentor in page.mentors %}
                                                                            <option value="{{mentor.name}}">{{mentor.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <select type="list" class="custom-select" id="group">
                                                                            <option value="" disabled="" selected="" hidden="">Select Next Preferred Mentor (if any)</option>
                                                                            {% for mentor in page.mentors %}
                                                                            <option value="{{mentor.name}}">{{mentor.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <textarea name="whyPreference" rows="3" class="form-control" id="message" placeholder="Why are do you prefer to connect with the mentors selected above? (Ignore if not selected)"></textarea>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 col-lg-12">
                                                                    <hr style="border-top: 1px dashed grey">
                                                                    <p>RotaSambandh Format</p>
                                                                    <div class="form-group">
                                                                        <select type="list" class="custom-select" id="group" required>
                                                                            <option value="" disabled="" selected="" hidden="">Select the RotaSambandh Format</option>
                                                                            <option value="Connect with the Mentor">Connect with the Mentor</option>
                                                                            <option value="Shadow the Mentor">Shadow the Mentor</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 col-lg-12">
                                                                    <div class="form-group">
                                                                        <textarea name="message" rows="5" class="form-control" id="message" placeholder="What are you expecting to accomplish from the session with the Mentors from the classification of '{{page.title}}'?"></textarea>
                                                                        <!-- <input type="text" class="form-control" id="message" placeholder="message"> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <button class="btn clever-btn w-100">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="course-sidebar">
                        <!-- Buy Course -->
                        <!-- <a href="#" class="btn clever-btn mb-30 w-100">Buy course</a> -->

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Summary</h4>
                            <ul class="features-list">
                                <li>
                                    <h6><i class="fa fa-file"></i> Formats</h6>
                                    <h6>2</h6>
                                </li>
                                <li>
                                    <h6><i class="fa fa-user"></i> Mentors</h6>
                                    <h6>{{page.mentors | size}}</h6>
                                </li>
                            </ul>
                        </div>

                        {% if page.classification_partners.size > 0 %}
                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Classification Supporter</h4>
                            {% for partner in page.classification_partners %}
                            <img src="{{site.baseurl}}{{partner.img}}" alt="{{partner.name}}">
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Courses Content End ##### -->
